<nav class="pv3 ph3 ph4-ns" role="navigation">
	<h2 class="white-90 desktop" style="text-align: center">
		<a class="top_margin" href="/">~</a>
		<a class="top_margin" href="/blog/">~/Blog</a>
		<a class="top_margin" href="/knowledge-base/">~/Notes</a>
		<a class="top_margin" href="/about-me/">~/About</a>
		<a class="top_margin" href="https://github.com/wizardwatch">~/Github</a>
	</h2>
	<div style="margin-inline: 5%" class="phone">
		<a style="color:white; text-decoration:none; font-size:24px;" href="/">~</a> 
		<div id="menuToggle">
		<input type="checkbox" />	
		<span></span>
    		<span></span>
    		<ul id="menu">
			<li><a href="/blog/">~/Blog</a></li>
			<li><a href="/knowledge-base/">~/Notes</a></li>
			<li><a href="/about-me/">~/About</a></li>
			<li><a href="https://github.com/wizardwatch">~/Github</a></li>
    		</ul>
		</div>
  	</div>
</nav>
